<link rel="stylesheet" href="/css/log.css">
<div class="logContainer">
    <form action="/users/create-session" method="POST">
        <input type="text" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="submit" value="login">
    </form>
</div>