<link rel="stylesheet" href="/css/log.css">
<div class="logContainer">
    <form action="">
        <input type="text" placeholder="Enter Name">
        <input type="text" placeholder="Enter Email">
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="regsiter">
    </form>
</div>